In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('DataViz2026-CUBoulder-Buildings-v2.csv')

## Questions to Answer with Data/Associations

Building name:
- Semantic analysis of building name and building use or relation to other data?

Building Use:
- Building use vs Square footage?
- Building Use vs Zone
- Building Use vs Year Built?

Test Correlation between data

In [3]:
df

,Building Name,Building Use,Square Footage,Zone,Year Built,Year Acquired,Latitude,Longitude
0,1135 Broadway,Classroom/Admin,18408,MAIN_CAMP,1960.0,2019.0,40.008110,-105.275666
1,1221 26Th Street,Residential,2754,MAIN_CAMP,NaN,2021.0,40.008831,-105.261656
2,1301 Walnut St,Classroom/Admin,4226,OFF_CAMPUS,NaN,2018.0,40.017512,-105.277777
3,1330/1332 Grandview,Classroom/Admin,1776,GRANDVIEW,1949.0,1968.0,40.011326,-105.275274
4,1506 Broadway,Other,10977,GRANDVIEW,NaN,2021.0,40.011758,-105.277149
...,...,...,...,...,...,...,...,...
360,Wind Tunnel,Research/Lab,3609,EAST_CAMP,2015.0,NaN,40.010354,-105.241302
361,Wolf Law Building,Classroom/Admin,190007,MAIN_CAMP,2006.0,NaN,40.001168,-105.262336
362,Woodbury Arts & Sciences Building,Historic Bldg,13573,MAIN_CAMP,1890.0,NaN,40.009225,-105.272313
363,Xd Cabin,Classroom/Admin,831,GRANDVIEW,1987.0,NaN,40.011175,-105.275267
364,Zuni,Residential,126,MTN_RESEARCH,1920.0,NaN,40.030374,-105.537790

In [18]:
building_use_dict = {use: num for (num,use) in enumerate(set(df['Building Use']))}
zone_dict = {zone: num for (num,zone) in enumerate(set(df['Zone']))}

In [19]:
set(df['Zone'])

{'EASTCAMPN',
 'EAST_CAMP',
 'GRANDVIEW',
 'MAIN CAMP',
 'MAIN_CAMP',
 'MTN_RESEARCH',
 'N_BLDR_CRK',
 'OFF_CAMPUS',
 'SOUTH_CAMP',
 'WILL_VILL'}

In [20]:
df['use_num'] = df['Building Use'].map(building_use_dict)
df['zone_num'] = df['Zone'].map(zone_dict)
df

,Building Name,Building Use,Square Footage,Zone,Year Built,Year Acquired,Latitude,Longitude,use_num,zone_num
0,1135 Broadway,Classroom/Admin,18408,MAIN_CAMP,1960.0,2019.0,40.008110,-105.275666,6,0
1,1221 26Th Street,Residential,2754,MAIN_CAMP,NaN,2021.0,40.008831,-105.261656,8,0
2,1301 Walnut St,Classroom/Admin,4226,OFF_CAMPUS,NaN,2018.0,40.017512,-105.277777,6,3
3,1330/1332 Grandview,Classroom/Admin,1776,GRANDVIEW,1949.0,1968.0,40.011326,-105.275274,6,2
4,1506 Broadway,Other,10977,GRANDVIEW,NaN,2021.0,40.011758,-105.277149,4,2
...,...,...,...,...,...,...,...,...,...,...
360,Wind Tunnel,Research/Lab,3609,EAST_CAMP,2015.0,NaN,40.010354,-105.241302,2,5
361,Wolf Law Building,Classroom/Admin,190007,MAIN_CAMP,2006.0,NaN,40.001168,-105.262336,6,0
362,Woodbury Arts & Sciences Building,Historic Bldg,13573,MAIN_CAMP,1890.0,NaN,40.009225,-105.272313,1,0
363,Xd Cabin,Classroom/Admin,831,GRANDVIEW,1987.0,NaN,40.011175,-105.275267,6,2
364,Zuni,Residential,126,MTN_RESEARCH,1920.0,NaN,40.030374,-105.537790,8,1

In [21]:
df.drop('Building Name', axis=1).drop('Building Use', axis=1).drop('Zone', axis=1).corr()

,Square Footage,Year Built,Year Acquired,Latitude,Longitude,use_num,zone_num
Square Footage,1.000000,0.309504,0.270300,-0.298124,0.230727,-0.267408,-0.279300
Year Built,0.309504,1.000000,0.682818,-0.517558,0.570652,-0.049809,0.324886
Year Acquired,0.270300,0.682818,1.000000,0.072528,0.345410,-0.193449,0.309071
Latitude,-0.298124,-0.517558,0.072528,1.000000,-0.873505,0.142291,-0.079655
Longitude,0.230727,0.570652,0.345410,-0.873505,1.000000,-0.103916,0.334041
use_num,-0.267408,-0.049809,-0.193449,0.142291,-0.103916,1.000000,0.379480
zone_num,-0.279300,0.324886,0.309071,-0.079655,0.334041,0.379480,1.000000